@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.App{
  min-height: 100vh;
}

.center{
  text-align: center;
}


.p-top{
  padding-top: 35px;
}

.heading{
  font-size: 35px;
  font-weight: bold;
}

.sub-heading{
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 20px;
}

.save-btn{
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.save-btn:hover, form button:hover{
  border: 1px solid cornflowerblue;
  background-color: #fff;
  color: cornflowerblue;
}

.form{
  display: flex;
  justify-content: center;
}

.form-heading{
  font-size: 30px;
  padding: 20px 0;

}

form input, form select{
  width: 350px;
  margin-bottom: 10px;
}

form button{
  width: 100%;
  margin-top: 5px;
  padding: 10px 0;
  background-color: cornflowerblue;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.error{
  color: rgba(255, 0, 0, 0.497);
  font-size: 15px;
}